@model IList<NHibernateMVC.Models.Project.ProjectListItem>
<table id="#employeeSearchResultsTable" class="table table-bordered table-striped ">
    <thead>
    <tr>
        <th>EmployeeId</th>
        <th>Employee Name</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectId</td>
                <td>@item.ProjectName</td>
                <td>
                    <a class="btn btn-mini" href="@Url.Action("Edit", "Project", new {projectId = @item.ProjectId})"><i class="icon-edit"></i>Select</a>
                    <a class="btn btn-mini" href="@Url.Action("Delete", "Employee", new {projectId = @item.ProjectId})"><i class="icon-remove"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
